.navbar-btn{
    margin-left:10px;
}

.breadcrumb{
    background-color: transparent;
    margin-bottom: 0px;
    padding-left: 0px;
}

.page-header{
    padding-bottom: 0px;
}

.container-margin{
    margin-bottom: 70px;
}
