<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- definicja ról uwzględnianych w kontroli dostępu -->
    <security-role>
        <role-name>STUDENT</role-name>
    </security-role>
    <security-role>
        <role-name>TEACHER</role-name>
    </security-role>
    <security-role>
        <role-name>EXAMINER</role-name>
    </security-role>
    <security-role>
        <role-name>GUARDIAN</role-name>
    </security-role>
    <security-role>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>
    <security-role>
        <role-name>ALL_LOGGED</role-name>
    </security-role>
    <security-role>
        <role-name>CONFIRM_ACCOUNT_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>EDIT_SOMEBODY_ACCOUNT_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>ACTIVATE_ACCOUNT_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>CHANGE_GROUP_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>LIST_ACCOUNTS_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_SOMEBODY_ACCOUNT_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>SEARCH_FOR_ACCOUNT_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_RAPORT_MOK</role-name>
    </security-role>
    <security-role>
        <role-name>CREATE_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>CREATE_QUESTION_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>EDIT_QUESTION_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>EDIT_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>ADD_TEACHER_TO_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>REMOVE_QUESTION_FROM_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>REMOVE_TEACHER_FROM_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>CLONE_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>LIST_EXAMS_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>LIST_QUESTIONS_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_EXAM_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_TEACHER_LIST_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_EXAM_STATS_MZE</role-name>
    </security-role>
    <security-role>
        <role-name>MARK_APPROACH_MOE</role-name>
    </security-role>
    <security-role>
        <role-name>DISQUALIFY_APPROACH_MOE</role-name>
    </security-role>
    <security-role>
        <role-name>LIST_APPROACHES_MOE</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_APPROACH_MOE</role-name>
    </security-role>
    <security-role>
        <role-name>ADD_STUDENTS_GUARDIAN_MOE</role-name>
    </security-role>
    <security-role>
        <role-name>START_SOLVING_EXAM_MRE</role-name>
    </security-role>
    <security-role>
        <role-name>ANSWER_QUESTION_MRE</role-name>
    </security-role>
    <security-role>
        <role-name>END_APPROACH_MRE</role-name>
    </security-role>
    <security-role>
        <role-name>LIST_APPROACHES_MRE</role-name>
    </security-role>
    <security-role>
        <role-name>SHOW_APPROACHES_MRE</role-name>
    </security-role>
    <security-role>
        <role-name>LIST_AVAILABLE_EXAMS</role-name>
    </security-role>

    <!-- kontrola dostępu do zasobów studenta -->
    <security-constraint>
        <display-name>StudentConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony ucznia</web-resource-name>
            <description/>
            <url-pattern>/student/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>STUDENT</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów nauczyciela -->
    <security-constraint>
        <display-name>TeacherConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony nauczyciela</web-resource-name>
            <description/>
            <url-pattern>/teacher/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>TEACHER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów egzaminatora -->
    <security-constraint>
        <display-name>ExaminerConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony egzaminatora</web-resource-name>
            <description/>
            <url-pattern>/examiner/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>EXAMINER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów opiekuna -->
    <security-constraint>
        <display-name>GuardianConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony opiekuna</web-resource-name>
            <description/>
            <url-pattern>/guardian/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>GUARDIAN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów administratora -->
    <security-constraint>
        <display-name>AdministratorConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony administrator</web-resource-name>
            <description/>
            <url-pattern>/administrator/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMINISTRATOR</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów mok -->
    <security-constraint>
        <display-name>MOKConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony mok</web-resource-name>
            <description/>
            <url-pattern>/mok/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMINISTRATOR</role-name>
            <role-name>EXAMINER</role-name>
            <role-name>GUARDIAN</role-name>
            <role-name>STUDENT</role-name>
            <role-name>TEACHER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do stron logowania -->
    <security-constraint>
        <display-name>LoginConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony logowania</web-resource-name>
            <description/>
            <url-pattern>/login/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do stron błędów -->
    <security-constraint>
        <display-name>ErrorConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony błędów</web-resource-name>
            <description/>
            <url-pattern>/error/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- definicja metody logowania, odwołanie do stron z formularzem logowania i komunikatem błędu -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ssbd01realm</realm-name>
        <form-login-config>
            <form-login-page>/login/login.xhtml</form-login-page>
            <form-error-page>/login/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/error.xhtml</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/error/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.xhtml</location>
    </error-page>
</web-app>