<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- definicja ról uwzględnianych w kontroli dostępu -->
    <security-role>
        <description/>
        <role-name>STUDENT</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TEACHER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>EXAMINER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>CURATOR</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ADMIN</role-name>
    </security-role>

    <!-- kontrola dostępu do zasobów studenta -->
    <security-constraint>
        <display-name>StudentConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony ucznia</web-resource-name>
            <description/>
            <url-pattern>/student/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>STUDENT</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów nauczyciela -->
    <security-constraint>
        <display-name>TeacherConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony nauczyciela</web-resource-name>
            <description/>
            <url-pattern>/teacher/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>TEACHER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów egzaminatora -->
    <security-constraint>
        <display-name>ExaminerConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony egzaminatora</web-resource-name>
            <description/>
            <url-pattern>/examiner/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>EXAMINER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów opiekuna -->
    <security-constraint>
        <display-name>CuratorConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony opiekuna</web-resource-name>
            <description/>
            <url-pattern>/curator/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>CURATOR</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do zasobów administratora -->
    <security-constraint>
        <display-name>AdminConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony administrator</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do stron logowania -->
    <security-constraint>
        <display-name>LoginConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony logowania</web-resource-name>
            <description/>
            <url-pattern>/login/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- kontrola dostępu do stron błędów -->
    <security-constraint>
        <display-name>ErrorConstr</display-name>
        <web-resource-collection>
            <web-resource-name>Strony błędów</web-resource-name>
            <description/>
            <url-pattern>/error/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- definicja metody logowania, odwołanie do stron z formularzem logowania i komunikatem błędu -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ssbd01realm</realm-name>
        <form-login-config>
            <form-login-page>/login/login.xhtml</form-login-page>
            <form-error-page>/login/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>


    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error.xhtml</location>
    </error-page>

</web-app>